<article class="container">
  <div class="container__header">
    <b class="container__header_text">WorkSpace</b>
  </div>
  <section class="container__soro">
    <div class="textbox">
      <%= form_with model:@workspace, local:true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <h4 class="textbox__label">
          小説タイトル
          </h4>
        <div class="textbox__paragraph">
          <%= f.text_field :noveltitle, class: "textbox__body" %>
          </div>
        <h4 class="textbox__label">
          あらすじ
          </h4>
        <div class="textbox__paragraph">
          <%= f.text_area :overview, class: "textbox__body_big" %>
          </div>
        <div class="textbox__paragraph">
          <%= f.submit '新規作成' %>
          </div>
      <% end %>
    </div>
  </section>
</article>